* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/************************************************
* Selettori TAG
************************************************/
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: black;
    color: #dcdcdc;
}

  /* Usando il flex 
  
  display: flex;  
  flex-direction: column;
  height: 100vh; */


header { /*  flex-basis: 45px; */
         min-height: 45px; 
         border:1px solid aliceblue;
}

main { /* flex-grow: 1; */
       min-height: calc(100vh - 45px - 54px);
       overflow: hidden;
       
} 

footer { /* flex-basis: 54px; */
  /* min-height: 54px; */ 
 background-color: #232427;
}

/************************************************
* header
************************************************/


.text-right{text-align: right;
  padding: 12.5px 14px;}

header button {
    font-size: 12px;
    padding: 10px;
    color: white;
    background-color:rgb(57,57,57);
    border-radius: 5px;
    cursor: pointer;
}

header button:nth-of-type(2) {
    margin-right: 15px;}